<span ng-controller="PerfController">
<style>
  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }

  .perf-chart-wrapper{
    display:inline-block;
  }
  
  .focus circle {
    fill: none;
    stroke: steelblue;
  }

  .current {
    fill: palegoldenrod;
    stroke:black;
  }

  .thisTaskColumn {
    border-left:2px solid black;
    border-left:2px solid black;
    background-color: palegoldenrod !important;
  }

  .currentrev{
    font-weight:bold;
  }
  
  svg{
  border:1px solid #eee;
  }
  .perf-chart {
    margin-top:5px;
    display:inline-block;
  }

  .perf-table{
    border: 1px solid #ccc;
  }
  .overlay{
    fill:none;
    stroke-width:1px;
    pointer-events: all;
  }
  .perf-table th {
    text-align:center;
    padding-left:10px;
    padding-right:10px;
  }
  .perf-table td {
    padding: 3px;
    text-align:right;
    border: 1px solid #888;
  }
  .perf-table tr.odd{
    background-color: #eee;
  }
  .perf-trendchart svg{
    padding-left:60px;
    padding-top:10px;
  }
  .bar-highlighted {
    color: green;
  }

  .domain{
    fill: none; 
    stroke: black; 
    stroke-width: 1; 
  }
  .comparison-table-header{
    font-weight:bold;
    text-align:right;
    padding-right:10px;
    margin-right:10px;
  }
  .chart-testname{
    font-size:.8em;
  }
  .sample-cell {
    font-size:.7em;
  }
  .compare-input{
    padding:15px;
  }
  .mono {
    font-family:monospace;
  }

</style>
<div class="panel" ng-if="conf.enabled && !!perfSample">
  <div class="panel-heading">
    <h4>Perf</h4>
    <div><a href="/plugin/json/task/[[task.id]]/perf/">Download raw data for this task (JSON)</a></div>
    <div><a ng-show="task.r=='gitter_request'" href="/plugin/json/history/[[task.id]]/perf">Download historical raw data (JSON)</a></div>
  </div>
  <div class="panel-body">
    <ul class="nav nav-tabs">
      <li ng-class="{active:perftab==0}"><a href="#" ng-click="perftab=0">Graph</a></li>
      <li ng-class="{active:perftab==1}"><a href="#" ng-click="perftab=1">Table</a></li>
      <li ng-class="{active:perftab==2}" ng-show="task.r=='gitter_request'"><a href="#" ng-click="perftab=2">Trend</a></li>
      <li ng-class="{active:perftab==3}" ng-show="task.r=='gitter_request'"><a href="#" ng-click="perftab=3">Trend Table</a></li>
    </ul>
    <div class="compare-input" ng-show="!comparePerfSample">
      Compare to commit: <input type="text" placeholder="githash" ng-model="compareHash">&nbsp;<button ng-click="updateComparison(compareHash)" class="btn btn-primary btn-small">Load</button>&nbsp;
    </div>
    <div class="compare-about" ng-show="!!comparePerfSample">
      <br/>
      <div>Comparing to <a ng-href="/task/[[comparePerfSample.sample.task_id]]">[[comparePerfSample.sample.revision | limitTo:5]]</a> &nbsp;<button ng-click="clearCompare()" class="btn btn-primary btn-small">Clear</button></div>
      <br/>
    </div>
      
    <div ng-show="perftab==0">
      <div class="perf-chart-wrapper col-lg-5" ng-repeat="testName in perfSample.testNames()">
        <span class="chart-testname">[[testName]]</span>
          <div id="y_axis-{{$index}}" class="y-axis"></div>
          <div class="perf-chart" id="chart-[[task.id]]-[[$index]]"></div>
      </div>
      <div class="row">
        <div id="legend"></div>
      </div>
    </div>
    <div ng-show="perftab==1">
      <table class="perf-table">
        <tr>
          <th>Test</th>
          <th ng-repeat="k in perfSample.threads()">[[k]]</th>
          <th>Max</th>
          <th ng-show="!!comparePerfSample">max @<span class="mono">[[comparePerfSample.sample.revision | limitTo:5]]</span></th>
          <th ng-show="!!comparePerfSample">vs. <span class="mono">[[comparePerfSample.sample.revision | limitTo:5]]</span></th>
        </tr>
        <tr ng-repeat="test in perfSample.testNames()" ng-class="{odd:$odd}">
          <td>[[test]]</td>
          <td ng-repeat="k in perfSample.threads()">[[perfSample.resultForTest(test).results[k].ops_per_sec | number:0]]</td>
          <td>[[perfSample.maxThroughputForTest(test) | number:0]]</td>
          <td ng-show="!!comparePerfSample">[[comparePerfSample.maxThroughputForTest(test) | number:0]]</td>
          <td ng-show="!!comparePerfSample" ng-style="{backgroundColor:percentToColor(100*percentDiff(perfSample.maxThroughputForTest(test),comparePerfSample.maxThroughputForTest(test)))}">
            [[100*percentDiff(perfSample.maxThroughputForTest(test),comparePerfSample.maxThroughputForTest(test)) | number:2]]%
          </td>
        </tr>
      </table>
    </div>
    <div ng-show="perftab==2">
      <div class="perf-trendchart-wrapper" ng-repeat="k in trendSamples.testNames">
        <h4>[[k]]</h4>
        <div class="row">
          <div class="col-lg-1">
            <div ng-show="currentHoverSeries==k">
              <div class="mono"><a ng-href="/task/[[currentSample.task_id]]">[[currentSample.revision | limitTo : 5]]</a></div>
              <div>Ops per sec: [[currentSample.ops_per_sec | number:0]]</div>
              <div ng-show="!!comparePerfSample" ng-style="{backgroundColor:percentToColor(100*percentDiff(currentSample.ops_per_sec, comparePerfSample.maxThroughputForTest(k)))}"> [[Math.abs(100*percentDiff(currentSample.ops_per_sec, comparePerfSample.maxThroughputForTest(k))) | number:2]]% 
                <span ng-show="currentSample.ops_per_sec > comparePerfSample.maxThroughputForTest(k)"> better than <span class="mono">[[comparePerfSample.sample.revision | limitTo:5]]</span></span> 
                <span ng-show="currentSample.ops_per_sec <= comparePerfSample.maxThroughputForTest(k)"> worse than <span class="mono">[[comparePerfSample.sample.revision | limitTo:5]]</span></span> 
              </div>
            </div>
          </div>
          <div class="col-lg-3 perf-trendchart" id="perf-trendchart-[[task.id]]-[[$index]]"></div>
        </div>
      </div>
    </div>
    <div ng-show="perftab==3">
      <h5>In each cell, display:</h5>
      <div>
        <div><label><input type="radio" ng-model="tablemode" value="maxthroughput" checked/>&nbsp;Max throughput</label></div>
        <div><label><input type="radio" ng-model="tablemode" value="noise"/>&nbsp;Noisiness in samples</label></div>
        <div><label ng-class="{muted:!comparePerfSample}">&nbsp;<input type="radio" ng-model="tablemode" value="percentdiff" ng-disabled="!comparePerfSample"/>&nbsp;Percent difference in throughput vs. [[compareHash]]</label></div>
      </div>
      <div style="overflow-x:scroll">
        <table class="perf-table">
          <tr>
            <th>Test</th>
            <td ng-repeat="t in trendSamples.tasksByCommitOrder() track by $index" class="mono" ng-class="{currentrev:t.revision==task.gitspec}" ng-class="{thisTaskColumn : t.task_id == task.id}" >
              <a href="/task/[[t.task_id]]">[[t.revision | limitTo:5]]</a>
            </td>
          </tr>
          <tr ng-repeat="k in trendSamples.testNames">
            <td>[[k]]</td>
            <td ng-repeat="t in trendSamples.tasksByCommitOrder() track by $index" class="sample-cell" ng-show="tablemode=='maxthroughput'" ng-class="{thisTaskColumn : t.task_id == task.id}" >
              [[trendSamples.sampleInSeriesAtCommit(k, t.revision).ops_per_sec | number:0]]
            </td>
            <td ng-repeat="t in trendSamples.tasksByCommitOrder() track by $index" class="sample-cell" ng-show="tablemode=='noise'" ng-class="{thisTaskColumn : t.task_id == task.id}" >
              [[trendSamples.noiseAtCommit(k, t.revision) | number:2]]
            </td>
            <td ng-repeat="t in trendSamples.tasksByCommitOrder() track by $index" class="sample-cell" ng-show="tablemode=='percentdiff'" ng-class="{thisTaskColumn : t.task_id == task.id}"
              ng-style="{backgroundColor:percentToColor(100*percentDiff(trendSamples.sampleInSeriesAtCommit(k,t.revision).ops_per_sec, comparePerfSample.maxThroughputForTest(k)))}">
              [[100*percentDiff(trendSamples.sampleInSeriesAtCommit(k,t.revision).ops_per_sec, comparePerfSample.maxThroughputForTest(k)) | number:2]]</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
</span>
